@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.horizontal-shake {
  animation: horizontal-shaking linear 150ms;
  animation-iteration-count: 2;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.5rem);
  }
  50% {
    transform: translateX(1rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.game-over {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  backdrop-filter: brightness(50%);
  border: 1px solid black;
  gap: 2rem;
}

.game-over h1 {
  font-size: 2rem;
}

.btn-again {
  padding: 1rem 3rem;
  font-size: 2rem;
  background-color: rgb(230, 203, 255);
  cursor: pointer;
}
